.add-url {
    width: 100%;
    height: 170px;
}

.add-title {

}

.add-subtitle {

}

.add-description {

}

.error {
    color: red;
}

.add-button {
    width: 100%;
    height: 100%;
}

.button-delete {
    
}