.add-url {
    width: 100%;
    height: 100px;
}

.add-title {
    width: 100%;
    max-width: 100%;
}

.add-subtitle {
    width: 100%;
    max-width: 100%;
}

.add-description {
    width: 100%;
    max-width: 100%;
}

.error {
    color: red;
    margin-bottom: 0;
}

.add-button {
    width: 100%;
    height: 100%;
}
