.movie-card {
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 300px;
}

.movie-card.card {
    height: 450px;
}

.card-footer-badge {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* Additional css for images */

.image-crop {
    max-width: 298;
    max-height: 168;
    overflow: hidden;
}


/* Borrowed from W3 schools */

/* Tooltip text */
.card-footer-badge .tooltiptext {
visibility: hidden;
width: 120px;
background-color: #555;
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;

/* Position the tooltip text */
position: absolute;
z-index: 1;
top: 135%;
left: 50%;
margin-left: -60px;

/* Fade in tooltip */
opacity: 0;
transition: opacity 0.3s;
}

/* Tooltip arrow */
.card-footer-badge .tooltiptext::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.card-footer-badge:hover .tooltiptext {
visibility: visible;
opacity: 1;
}